@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

:root {
  --background: #fff;
  --dark: #42526e;
  --text-dark: #172b4d;
  --text-green: #36b37f;
  --gray: #ebf0ee;
  --hover-state: #36b37f;
  --active-state: #008552;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 100%;
  background-color: var(--background);
  line-height: 1.5;
  color: var(--text-dark);
}

a {
  text-decoration: none;
  display: inline-block;
}

.btn {
  padding: 0.8rem 1.2rem;
  color: var(--background);
  background-color: var(--text-green);
  border-radius: 5px;
  border: 0;
  margin-bottom: 1.5rem;
}

.btn:hover {
  background-color: var(--hover-state);
  cursor: pointer;
}

.btn:focus,
.btn:active {
  background-color: var(--active-state);
}

.heading-2 {
  font-size: 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

/* Navigation styles */
.nav__logo a {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--text-dark);
}

.nav__logo a:active,
.nav__logo a:focus {
  color: var(--text-dark);
}

.nav__links-items {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header Styles */
.hero {
  text-align: center;
  background-image: url(./images/header-illsutration-mobile.svg);
  background-size: cover;
  background-position: top;
}

.hero__title {
  margin-bottom: 3rem;
}

.hero__content {
  margin-bottom: 3rem;
}

.hero__title-dark,
.hero__title-green {
  display: block;
  font-size: 2rem;
}

.hero__title-dark {
  color: var(--text-dark);
}

.hero__title-green {
  color: var(--text-green);
}

.hero__social {
  padding: 1rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__social-links {
  padding: 0 0.5rem;
}

.hero_arrow-down {
  padding: 2rem;
  cursor: pointer;
}

/* Recent work styles */
.work__heading {
  text-align: center;
  margin-bottom: 2rem;
  padding-bottom: 3rem;
}

.work__heading-recent,
.work__heading-work {
  display: block;
}

.work__heading-work {
  position: relative;
}

.work__heading-work::before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  height: 3px;
  width: 15%;
  background: var(--text-green);
}

.projects {
  text-align: center;
  display: grid;
}

.card {
  border: 2px solid var(--gray);
  margin-bottom: 1rem;
  border-radius: 5px;
}

.card__img {
  height: 250px;
  width: 100%;
  background-color: var(--gray);
  margin-bottom: 0.5rem;
}

.card__tags-works {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  align-items: center;
  list-style: none;
  padding: 1rem;
}

.card__tags {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  flex-wrap: wrap;
  padding: 1.5rem 0;
  list-style: none;
}

.card__tags-links {
  display: inline-block;
  font-size: 0.75rem;
  padding: 0.5rem 0.8rem;
  background-color: var(--gray);
  border-radius: 5px;
  color: var(--text-dark);
  font-weight: bold;
}

/* About */
.about {
  text-align: center;
  background: url(./images/mobile-illustration-1.svg) 100% 0 no-repeat, url(./images/mobile-illustration-2.svg) 0 100% no-repeat;
}

.about__text {
  margin: 1rem 0;
}

/* Skills */
.skills {
  text-align: center;
}

.skills .card {
  background-color: var(--gray);
}

.skills .card__tags .card__tags-links {
  background-color: var(--background);
  color: var(--text-green);
}

/* Contact */
.contact {
  background: url(./images/illustration-contact-mobile.svg) 100% 100% no-repeat;
}

.contact__form form {
  text-align: center;
}

.contact__text {
  text-align: center;
  margin-bottom: 3rem;
}

.form-control input,
.form-control textarea {
  width: 100%;
  margin-bottom: 1rem;
  border: 2px solid var(--gray);
}

.form-control input {
  padding: 0.8rem;
}

/* Footer */
.footer {
  padding-top: 1rem;
  padding-bottom: 10rem;
  text-align: center;
}

.footer__email {
  text-decoration: none;
  color: var(--dark);
}
